:root {
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --font-1: "Fraunces", serif;
  --font-2: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--cream);
  font-family: var(--font-2);
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}

.info {
  padding: 1.5rem;
}

.img-wrapper {
  overflow: hidden;
}

img {
  max-width: 100%;
}

p {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
}

h1 {
  color: var(--very-dark-blue);
}

h2 {
  color: var(--dark-grayish-blue);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3rem;
}

h1 {
  margin: 1rem 0;
}

h1,
.price {
  font-family: var(--font-1);
  font-size: 2rem;
  line-height: 2rem;
}

.price {
  margin: 1.5rem 0 1.3rem 0px;
}

.price span {
  color: var(--dark-cyan);
}

s {
  vertical-align: top;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.card {
  position: relative;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  text-align: start;
  cursor: default;
  margin: 1rem;
}

button {
  display: block;
  border: 0;
  cursor: pointer;
  width: 100%;
  padding: 1em 0;
  margin: 1em 0;
  font-size: 14px;
  font-weight: 900;
  background-color: var(--dark-cyan);
  border-radius: 8px;
  color: var(--white);
}

button:hover,
button:focus {
  background-color: hsl(158, 40%, 20%);
}

button img {
  vertical-align: bottom;
  margin-right: 0.7rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  backdrop-filter: blur(5px);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-blue);
}

.attribution a {
  color: var(--dark-cyan);
}

@media (max-width: 450px) {
  .card {
    max-width: 21.5rem;
    min-height: 38rem;
  }

  .img-wrapper {
    max-height: 25rem;
  }
}

@media (min-width: 450px) {
  .card {
    display: flex;
    max-width: 650px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-wrapper,
  .info {
    width: 50%;
  }

  .img-wrapper img {
    width: auto;
    height: 100%;
  }
}
